<!DOCTYPE html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Weather app</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700,900&display=swap&subset=latin-ext" rel="stylesheet">


</head>

<body>

    <div class="search-box">
        <form action="index.php" method="POST">
            <input type="text" placeholder="Podaj miasto" name="city-name">
            <button type="submit" name="city-name-btn">Sprawdź</button>
        </form>
    </div>

    <div class="container">

        <div class="date-box">
            <p> {{ date }} </p>
        </div>

        <div class="city-box">
            <p> {{ city }} </p>
        </div>

        <div class="weather-box">
            <ul>
                <li class="weather-value">{{ temp }}&degC </li>
                <li class="weather-value other">Wiatr: <br> <p class="value-numbers"> {{ wind }} km/h </p> </li>
                <li class="weather-value other">Zachmurzenie: <br> <p class="value-numbers"> {{ clouds }}% </p> </li>
                <li class="weather-value other">Wilgotność: <br> <p class="value-numbers"> {{ humidity }}% </p> </li>
                <li class="weather-value other">Ciśnienie: <br> <p class="value-numbers"> {{ airpressure }} hPa </p> </li>   
            </ul>

        </div>

    </div>
  <script src="js/main.js"></script>
</body>
</html>