<!DOCTYPE html>

<html lang="pl">
<head>
  <meta charset="utf-8">

  <title>Weather app</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap&subset=latin-ext" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="date-box">
            <p>March 13</p>
        </div>

        <div class="city-box">
            <p>New York</p>
            <h2> {{ city }} </h2>
        </div>

        <div class="weather-box">
            <p>Pogoda</p>
        </div>

    </div>
  <script src="js/main.js"></script>
</body>
</html>